.custom-modal .modal-content {
    background-color: #1e1f22;
    color: white;
  }
  
  .custom-modal-header {
    border-bottom: 1px solid black; /* Set border color to black */
    background-color: #1e1f22;
    color: white;
    position: relative; /* Ensure the close button can be positioned absolutely */
  }
  
  .custom-modal-body {
    background-color: #1e1f22;
    border: none; /* Ensure no border around the body */
  }
  
  .custom-modal-footer {
    background-color: #1e1f22;
    border-top: 1px solid black; /* Set border color to black */
  }
  
  .custom-input {
    background-color: #1e1f22;
    color: white;
    border: none; /* Remove all borders */
    box-shadow: none; /* Remove any shadow */
  }
  
  .custom-input-group-text {
    background-color: #1e1f22;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  .custom-input-group-text:hover {
    color: #ccc; /* Change color on hover for better UX */
  }
  
  /* Style the custom close button */
  .custom-close-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .custom-close-button:hover {
    color: #ccc; /* Change color on hover for better UX */
  }